.container {
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
    width: auto;
    box-sizing: border-box;
}

.row {
    display: flex;
    /* gap: 1px; */
}

.cell {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    text-align: center;
    line-height: 20px;
    /* transition: background-color 0.05s; */
}

.enter{
    background-color: aliceblue;
}

.leave{
    background-color: black;
}